 #container {
	 background-color: blue;
 }
 .titletext {
	 font-family: 'Exo 2', serif; 
 }
 #daycontainer {
	 
 }
 .days{
	font-family: 'Exo 2', serif; 
	border: 2px solid red;
	border-radius: 5px;
 }
 #day1 {
	position: absolute;
	left: 100px;
	width: 15%;
	height: 350px;
 }
 #day2 {
	position: absolute;
	left: 5px;
	
	width: 15%;
	height: 350px;
 }
 #day3 {
	 
 }
 #day4 {
	 
 }
 #day5 {
	 
 }
 
 